//----- ANIMATIONS -----//
//Maps pour les animations
$anim_duration: (
  animation_loader-display: 0s,//Chargement du background
  animation_loader-stroke: 4s,//Animation du svg pour écrire le nom-logo
  transi_fctmt_items:150ms, // Animation survol items de la liste fonctionnement
  transi_like-btn: 200ms, //Animation du cta__btn like en forme de coeur
  transi_menu-checkbox: 400ms,//Animations d'apparition de la checkbox des menus
  animation_fadein_title: 1.5s,//Apparition du titre type de menu  
  animation_fadein_menu: 1.5s, //Apparition des cards de menu
  animation_heart:1s //Animation survol des coeurs
);
$anim_fct: (
  animation_loader-display: ease-out,
  animation_loader-stroke: ease-out,
  transi_like-btn: ease-in,
  transi_menu-checkbox: ease-in-out,
  animation_fadein_title: linear,
  animation_fadein_menu: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  animation_heart:ease-in-out
);
$anim_delay: (
  animation_loader-stroke:300ms,
  transi_like-btn: 100ms,
  transi_menu-checkbox: 100ms,
  animation_fadein_title: 250ms,
  animation_fadein_menu: 200ms,
  animation_heart: 80ms
);
$anim_fill-mode: (
  animation_loader-display: forwards,
  animation_loader-stroke: forwards,
  animation_fadein_title: forwards,
  animation_fadein_menu: forwards,
  animation_heart:forwards
);

//Paramètres des coeurs like
.gradient__node1{
  stop-color:$primaire;
  stop-opacity:1;
}
.gradient__node2{
  stop-color:$secondaire; 
  stop-opacity:1;
}