@import "libs/_reset.scss";
@import "libs/_global.scss";
@import "libs/_functions.scss";
@import "libs/_animation.scss";
@import "libs/_responsive.scss";

//head
.header__logo{
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  justify-content: center;
  display: flex;
  padding: 1rem 0;
}

.header__location{
  background:$bg-grey-light;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: $fontcolor-tertiaire; 
}

.location__icon{
  margin-right: 0.8rem;
}
.location{
  font-weight: $medium;
}
//Hero
.hero{
  text-align: center;
}
//nav
.nav{
  background-color: $bg-grey-lighter;
  padding: 2rem 1rem;
}
.nav__header{
  font-size: 2rem;    
}
.nav__subtitle{
  margin: 1rem 0;
  font-weight: $low;
  color:$fontcolor-tertiaire;
}

//Fonctionnement fctmt
.fctmt{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;

        .fctmt__header{
        text-align: start;
        }
        .fctmt__list{
        position: relative;
        list-style-type: none;
        counter-reset: list__items;
        }
        .fctmt__list__items{
            background-color: $bg-grey-light;
            padding: 1.5rem;
            margin:1rem 0 1rem 0.75rem;
            margin-bottom: 1rem;
            border-radius: 1.25rem;
            display: flex;
            box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
        
            &::before{
              color: $fontcolor-primaire;
              position:absolute;
              counter-increment: list__items;
              content: counter(list__items);
              background-color: $primaire;
              height: 1.5rem;
              width: 1.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              left: -0.1rem;
              border-radius: 100px;
            }
            //ne l'appliquer qu'avec le format desk !
            // &:hover{
            //     background-color:$hover_prim_color;
            // }
            
            &:active{
                background-color:$hover_prim_color;
            }

        }
        .fctmt__list__icon{
            margin-right: 1rem;
            color:#7e7e7e;
        }
    }
//main resto
.resto{

}
.resto__header{

}
.resto__card{

}

//Badge new
.badge-new{
  background-color: $tertiaire;
  color:$fontcolor-btn-new;
  position:absolute;
  top:1rem;
  right:1rem;
  padding:0.5rem;
  border-radius:0.2rem;
}




// Footer
.foot__header{
  font-family: $fontstyled;
}