/* Mini reset css */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/* Font Shrikhand pour les titres + Roboto pour les textes */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Roboto:wght@500;700;900&display=swap');

$colors: (
  primaire:#9356DC,
  secondaire:#FF79DA,
  tertiaire:#99E2D0,
  backgrey1:#eaeaea,
  backgrey2:#f6f6f6,
  btn-animated1:#f5edff,
  btn-new:#99e2d0,
  /* Dégradé de l'animation sur le like : du primaire vers secondaire */
)

:root{
  --fontf:"Roboto", sans-serif;
}