//Style global des boutons
.cta__btn {
  border: 0;
  border-radius: $btn-bord-radius;
  padding: 1rem 1.5rem;
  background-image: linear-gradient($secondaire, $primaire);
  box-shadow: 0.25rem 0.25rem 1.8rem rgba(0, 0, 0, 0.25);
  @include transi_like-btn;
  &:hover {
    opacity: 0.8;
    transform: scale(1.01);
  }
}
.cta__command {
  margin: 2rem auto 3rem auto;
}
//Icone de coeur favoris
i[class*="fav__heart"] {
  cursor: pointer;
}
.cta__like {
  @include display ($display: flex, $justify:center, $align:center);
  @include width-height($width: 2rem, $height: 2rem);
  fill: transparent;
  stroke: $fontcolor-secondaire;
  stroke-width: 1px;
}
svg {
  overflow: visible;
  width: 30rem;
}
.svg_heart:hover path {
  @include animation_heart;
}
@include keyframes_heart;
