//Style des boutons
.btn {
  border: 0;
  border-radius: $btn-bord-radius;
  padding: 1rem 1.5rem;
  color: $fontcolor-primaire;
  font-size: 1rem;
  font-weight: map-get($fontweight, medium);
  cursor: pointer;
  background-image: linear-gradient($secondaire, $primaire);
  box-shadow: 0.25rem 0.25rem 1.8rem rgba(0, 0, 0, 0.25);
  @include transi_like-btn;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      transform: scale(0.99);
    }
}

.btn_command {
  margin: 2rem auto 3rem auto;
}

//Icone de coeur favoris
i[class*="fav__heart"] {
  cursor: pointer;
}

.btn_like {
  display: flex;
  @include box_center;
  @include width-height($width: 2rem, $height: 2rem);
  cursor: pointer;
  fill: transparent;
  stroke: $fontcolor-secondaire;
  stroke-width: 1px;
  position: relative;
}

svg {
  overflow: visible;
  width: 30rem;
}

.svg_heart:hover path {
  @include heart_animation;
}

@include heart_keyframes;
