.loader {
  position: fixed;
  display: inline-flex;
  @include width-height ($width:100vw, $height:100vh);
  @include box_center;
  background-color: $bg-primaire;
  z-index: 1;
  @include animation_loader-display;

  &__container {
    @include width-height ($width:50rem, $height:15rem);
  }

  &__svg {
    @include width-height ($width:100%, $height:100%);

    & path {
      fill: transparent;
      stroke: $primaire;
      stroke-width: 0.1rem;
      stroke-dasharray: 200;
      stroke-dashoffset: 0%;
      @include animation_loader-stroke;
      opacity: 0;
    }
  }
}
@include keyframes_loader-display;
@include keyframes_loader-stroke;