//Sup à 1024 jusqu'à 1920
$media_desk_high-res:'only screen and (max-width: 1920px)';

//Écrans à très faible réso
$media_desk_mid-res:'only screen and (min-width: 921px) and (max-width: 1024px)';

//Tab orientée en portrait (non paramétré)
$media_tab-res:'only screen and (min-width: 601px) and (max-width: 920px)';

//Réso des mobiles
$media_mobile-res:'only screen and (max-width: 600px)';

//Création de map sass pour rendre le site responsive en utilisant le duo fonctions-maps
$breakpoints:(
  phone:360px,
  phone-wide:480px,
  tab-portrait:768px,
  tab-landscape:1024px,
  desk:1200px,
  desk-wide:1440,
);
