.restau__card_imgcontainer {
  display: block;
  height: 11rem;
  border-radius: $card-bord-radius;
  overflow: hidden;
  border-radius: $card-bord-radius $card-bord-radius 0 0;
}
.restau__card_img {
  width: 100%;
  object-fit: cover;
}

//Badge 'NOUVEAU'
.restau__badge-new {
  @include element_position($position: absolute, $top: 1rem, $right: 1rem);
  padding: 0.5rem;
  border-radius: $badge-bord-radius;
  background-color: $tertiaire;
  color: $fontcolor-badge-new;
}
.card__footer {
  display: flex;
  padding: 0.5rem;
}
.card__footcontent {
  flex: 1;
  &__title{
    font-weight: map-get($fontweight, gras);
  }
}
// .card__title{
//   font-weight: map-get($fontweight, gras);
// }