.restau__cardimgcontainer{
  display: block;
  border-radius:$card-bord-radius;
  overflow: hidden;
  height: 11rem;
  border-radius:$card-bord-radius $card-bord-radius 0 0;
}
.restau__cardimg{
  width:100%;
  object-fit:cover;
}
.card__footer{
  display:flex;
  padding:0.5rem;  
}
.card__footcontent{
  flex:1;
}
.card__like-btn{
  display: flex;
  @include box-center;
}
.like-btn{
  font-size:2rem;
  @include transi_btn-like;
}

//Badge NOUVEAU
.restau__badge-new{
  position:absolute;
  top:1rem;
  right:1rem;
  padding:0.5rem;
  border-radius:$badge-bord-radius;
  background-color: $bg-badge;
  color:$fontcolor-badge-new;
}