@mixin box_center {
  justify-content: center;
  align-items: center;
}
//Quand le texte depasse, évite le wrap, cache le texte, affiche trois petits points
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin element_position($position, $top:unset, $right:unset, $bot:unset, $left:unset){
  position: $position;
  top: $top;
  right: $right;
  bottom: $bot;
  left: $left;
  //@include element_position($position, $top:unset, $right:unset, $bot:unset, $left:unset);
}
@mixin border_radius($global-radius:unset, $top-left:unset, $top-right:unset, $bot-right:unset, $bot-left:unset){
  border-radius:$global-radius;
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bot-right;
  border-bottom-left-radius: $bot-left;
  //@include border_radius($top-left:0, $top-right:0, $bot-right:0, $bot-left:0);
}
@mixin width-height ($width:unset, $height:unset){
  width: $width;
  height: $height;
  //@include width-height ($width:unset, $height:unset);
}

//Fonctions pour chaque breakpoints utiliser la valeur de la variable correspondante contenue dans la map $breakpoints
// @each $breakpoint, $value in $breakpoints {

// }