/*Valeurs communes à tout le site*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
//Polices de caractères
$font_title: Shrikhand, "cursive";
$font_text: Roboto, "sans-serrif";

html {
  font-size: 18px;
  font-family: $font_text;
}

//Radius
$card-bord-radius: 1rem;
$badge-bord-radius: 0.2rem;
$btn-bord-radius: 100px;

//Couleurs principales en Hue-saturation-lightness-alpha
$primaire: hsla(267, 66%, 60%, 1); //#9356DC
$secondaire: hsla(317, 100%, 74%, 1); //#FF79DA
$tertiaire: hsla(165, 56%, 74%, 1); //#99E2D0

//Couleurs utilitaires
$fontcolor-primaire: hsla(0, 0%, 100%, 1); //#FFFFFF
$fontcolor-secondaire: hsla(0, 0%, 21%, 1);
$fontcolor-tertiaire: hsla(0, 0%, 16%, 1);
$hover_prim_color: hsla(267, 66%, 60%, 0.2);
$icon-fctmt: hsla(0, 0%, 49%, 1); //#7e7e7e
$fontcolor-badge-new: hsla(165, 77%, 32%, 1); //#139273

//Couleurs Backgrounds
$bg-primaire: hsla(0, 0%, 100%, 1); //#FFFFFF
$bg-grey-light: hsla(0, 0%, 93%, 1);
$bg-grey-lighter: hsla(0, 0%, 96%, 1);
$bg-foot: hsla(0, 0%, 22%, 1);

//Graisse des font - utilisation d'une map
$fontweight: (
  gras: 800,
  medium: 500,
  low: 400
);

//Map breakpoints
$breakpoints: (
  md: 640px,
  lg: 980px,
  xl: 1024px
);
