@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ol,
ul,
li {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Valeurs communes à tout le site*/
html {
  font-family: Roboto, "sans-serrif";
}

.gradient__node1 {
  stop-color: #9256dc;
  stop-opacity: 1;
}

.gradient__node2 {
  stop-color: #ff7ad9;
  stop-opacity: 1;
}

.wrapper {
  margin: 0.7rem;
}

.wrap {
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
}

.restau__card_wrapper {
  position: relative;
  display: block;
  background-color: white;
  border-radius: 1rem;
}

.restau__card_imgcontainer {
  display: block;
  height: 11rem;
  border-radius: 1rem;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}

.restau__card_img {
  width: 100%;
  object-fit: cover;
}

.restau__badge-new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: unset;
  left: unset;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #98e2cf;
  color: #1b5f4e;
}

.card__footer {
  display: flex;
  padding: 0.5rem;
}

.card__footcontent {
  flex: 1;
}
.card__footcontent__title {
  font-weight: 800;
}

.btn {
  border: 0;
  border-radius: 100px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-image: linear-gradient(#ff7ad9, #9256dc);
  box-shadow: 0.25rem 0.25rem 1.8rem rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-in;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  transform: scale(0.99);
}

.btn_command {
  margin: 2rem auto 3rem auto;
}

i[class*=fav__heart] {
  cursor: pointer;
}

.btn_like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  fill: transparent;
  stroke: #363636;
  stroke-width: 1px;
  position: relative;
}

svg {
  overflow: visible;
  width: 30rem;
}

.svg_heart:hover path {
  animation: heart_anim 1s ease-in-out forwards 80ms;
}

@keyframes heart_anim {
  0% {
    stroke-opacity: 1;
  }
  100% {
    fill: #9256dc;
    stroke-opacity: 0;
    stroke-width: 0;
  }
}
.loader {
  position: fixed;
  display: inline-flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1;
  animation: animation_loader-display 0s ease-out forwards;
}
.loader__container {
  width: 50rem;
  height: 15rem;
}
.loader__svg {
  width: 100%;
  height: 100%;
}
.loader__svg path {
  fill: transparent;
  stroke: #9256dc;
  stroke-width: 0.1rem;
  stroke-dasharray: 200;
  stroke-dashoffset: 0%;
  animation: animation_loader-stroke 4s forwards;
  opacity: 0;
}

@keyframes animation_loader-display {
  0% {
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes animation_loader-stroke {
  0% {
    stroke-dashoffset: 150%;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 0.95;
  }
  85% {
    stroke-dashoffset: 0%;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.header__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 1rem 0;
  height: 5rem;
}

.logo {
  max-height: 2rem;
}

.section__header {
  font-weight: 800;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.restau__name {
  font-family: Shrikhand, "cursive";
}

.backtoindex__arrow {
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: 1.2rem;
  font-size: 1.2rem;
}

.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  padding: 1rem;
  color: #292929;
}

.location {
  font-weight: 500;
}
.location__icon {
  margin-right: 0.8rem;
}

.hero {
  text-align: center;
}

.nav {
  background-color: whitesmoke;
  padding: 2rem;
}
.nav__subtitle {
  margin: 1rem 0;
  font-weight: 400;
  color: #292929;
}

.fctmt {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.fctmt__header {
  text-align: start;
}

.fctmt__list {
  position: relative;
  list-style-type: none;
  counter-reset: list__items;
}

.fctmt__list__items {
  box-shadow: 0.25rem, 0.25rem, 0.5rem, rgba(0, 0, 0, 0.125);
  display: flex;
  background-color: whitesmoke;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  border-radius: 1.25rem;
}
.fctmt__list__items::before {
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: -0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  counter-increment: list__items;
  content: counter(list__items);
  background-color: #9256dc;
  color: white;
  border-radius: 100px;
}
.fctmt__list__items:active {
  background-color: rgba(146, 86, 220, 0.2);
}

.fctmt__list__icon {
  margin-right: 1rem;
  color: #7d7d7d;
}

.main-container {
  display: grid;
  background-color: whitesmoke;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  background-color: #383838;
}

.foot__header {
  font-family: Shrikhand, "cursive";
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  color: white;
}

.foot__links__list {
  color: white;
  display: flex;
  flex-direction: column;
}
.foot__links__list__icon {
  width: 1.2rem;
}

.foot__links {
  display: flex;
  align-items: center;
}
.foot__links > i {
  flex-basis: 2em;
}

.hero__restauimg {
  object-fit: cover;
  max-height: 15rem;
  max-width: 100%;
  width: 100%;
}

.main__menu-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, auto);
  margin-top: -4rem;
  background-color: whitesmoke;
  border-radius: unset;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 1;
}

.menu__header {
  margin-bottom: 0;
  padding: 2rem 2rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

.menu__content {
  display: grid;
  gap: 1.11rem;
  padding: 0 1rem 3rem 1rem;
}

.menu__type__title {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  visibility: hidden;
  animation: t-fadein 1.5s linear 250ms forwards;
}
@keyframes t-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.menu__type__title::after {
  content: "";
  position: absolute;
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 0.2rem;
  background-color: #98e2cf;
}

.menu__item {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 4rem;
  grid-template-columns: 1fr auto auto;
  gap: 1.11rem;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
  visibility: hidden;
  animation: m-fadein 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.menu__item:nth-child(1) {
  animation-delay: 200ms;
}
.menu__item:nth-child(2) {
  animation-delay: 400ms;
}
.menu__item:nth-child(3) {
  animation-delay: 600ms;
}
.menu__item:nth-child(4) {
  animation-delay: 800ms;
}
.menu__item:nth-child(5) {
  animation-delay: 1000ms;
}
@keyframes m-fadein {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
.menu__item:hover .menu__item__checkbox {
  transform: translateX(0);
}
.menu__item:hover .menu__item__price {
  transform: translateX(-200%);
}
.menu__item:hover .menu__item__header {
  width: 70%;
}
.menu__item:hover .menu__item__icon {
  transform: rotate(0);
}
.menu__item__header {
  display: flex;
  flex-direction: column;
  margin: 0 0.56rem;
  width: 100%;
  overflow: hidden;
  transition: 400ms ease-in-out;
}
.menu__item__title {
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0.3rem;
}
.menu__item__price {
  font-weight: 800;
  align-self: end;
  margin: 0.56rem 0.3rem;
  transition: all 400ms ease-in-out 100ms;
}
.menu__item__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0.3rem;
}
.menu__item__checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: unset;
  left: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 100%;
  border-radius: 0 20px 20px 0;
  background-color: #98e2cf;
  color: white;
  animation-fill-mode: both;
  transition: all 400ms ease-in-out 100ms;
  transform: translateX(100%);
}
.menu__item__icon {
  padding: 0.23rem;
  border-radius: 25px;
  background-color: white;
  color: #98e2cf;
  transition: all 400ms ease-in-out 100ms;
  transform: rotate(360deg);
}

/*# sourceMappingURL=style.css.map */
