// Footer
.footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  background-color: $bg-foot;
}
.foot__header {
  font-family: $font_title;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  color: $fontcolor-primaire;
}
.foot__links__list {
  color: $fontcolor-primaire;
  display: flex;
  flex-direction: column;

  &__icon {
    width: 1.2rem;
  }
}

.foot__links {
  display: flex;
  align-items: center;

  > i {
    flex-basis: 2em; //basis pour définir la width du premier élément.
  }
}
