// Footer
.footer {
  @include display($display: flex, $flex-dir: column);
  padding: 1.5rem 2rem;
  background-color: $bg-foot;
}
.foot__header {
  margin-bottom: 1.2rem;
}
.foot__links__list {
  @include display($display: flex, $flex-dir: column);

  &__icon {
    width: 1.2rem;
  }
}

.foot__links {
  @include display($display: flex, $align: center);

  > i {
    flex-basis: 2em; //basis pour définir la width du premier élément.
  }
}
