.header__logo {
  position: relative;
  @include display ($display:flex, $justify:center, $align:center);
  // box-shadow: offset-x | offset-y | blur-radius | color
  box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.25);
  padding: 1rem 0;
  height: 5rem;
}

.logo {
  max-height: 2rem;
}

.header__location {
  @include display ($display:flex, $justify:center, $align:center);
  background-color: $bg-grey-light;
  padding: 1rem;
}

.location__icon {
  margin-right: 0.8rem;
}
//Retour à l'index
.backtoindex__arrow {
  @include element_position($position: absolute, $left: 1.2rem);
}
