.main-container {
  @include display ($display: grid, $r-gap:1rem);
  background-color: $bg-grey-lighter;
  grid-template-columns: 1fr;
  padding: 1rem;

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 1rem;
  }
}
.restau__header {
  margin-top: 2rem;
  grid-row: 1/2;
  grid-column: 1/-1;
}
