.hero__restauimg {
  object-fit: cover;
  max-height: 15rem;
  max-width: 100%;
  width: 100%;
}
.main__menu-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, auto);
  margin-top: -4rem;
  background-color: $bg-grey-lighter;
  @include border_radius(
    $top-left: 2rem,
    $top-right: 2rem,
    $bot-right: 0,
    $bot-left: 0
  );
  z-index: 1;
}
.menu__header {
  margin-bottom: 0; //annule le margin global des section__header
  padding: 2rem 2rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

.menu__content {
  display: grid;
  gap: 1.11rem;
  padding: 0 1rem 3rem 1rem;
}

.menu__type__title {
  position: relative;
  padding-bottom: 0.5rem;
  visibility: hidden;

  @include animation_fadein_title;
  @include keyframes_fadein_title;

  &::after {
    content: "";
    @include element_position($position: absolute, $bot: 0, $left: 0);
    @include width-height($width: 3rem, $height: 0.2rem);
    background-color: $tertiaire;
  }
}
.menu__item {
  position: relative;
  display: grid;
  @include box_center;
  height: 4rem;
  grid-template-columns: 1fr auto auto;
  gap: 1.11rem;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: $bg-primaire;
  visibility: hidden;

  //Apparition des menus.
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: $i * map-get($anim_delay, animation_fadein_menu);
    }
  }
  @include animation_fadein_menu;
  @include keyframes_fadein_menu;

  //Règles appliquées au survol (partie desk - onclick sur mobile)
  &:hover .menu__item__checkbox {
    transform: translateX(0);
  }
  &:hover .menu__item__price {
    transform: translateX(-200%);
  }
  &:hover .menu__item__header {
    width: 70%;
  }
  &:hover .menu__item__icon {
    transform: rotate(0);
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin: 0 0.56rem;
    width: 100%;
    overflow: hidden;
    transition: 400ms ease-in-out;
  }
  &__title {
    margin: 0 0.3rem;
  }
  &__price {
    align-self: end;
    margin: 0.56rem 0.3rem;
    @include transi_menu-checkbox;
  }
  &__description {
    margin: 0 0.3rem;
  }
  &__checkbox {
    @include element_position($position: absolute, $top: 0, $right: 0);
    display: flex;
    @include box_center;
    @include width-height($width: 4rem, $height: 100%);
    border-radius: 0 20px 20px 0;
    background-color: $tertiaire;
    animation-fill-mode: both;
    @include transi_menu-checkbox;
    transform: translateX(100%);
  }
  &__icon {
    padding: 0.23rem;
    border-radius: 25px;
    background-color: $bg-primaire;
    color: $tertiaire;
    @include transi_menu-checkbox;
    transform: rotate(360deg);
  }
}
